/* Updates timeline */
.update-timeline {
    margin-left: 1.5625rem;
}

.update-item {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    padding: 0.625rem 1.25rem;
    border-left: 0.125rem solid var(--accent);
    margin-bottom: 0.625rem;
}

.update-date {
    color: var(--accent);
    font-family: 'Fira Code', monospace;
    font-weight: bold;
}

.update-desc {
    color: var(--text-primary);
}