/* Sections base */
.project-overview,
.network-arch,
.key-features,
.detection-rules,
.documentation,
.repo-info {
    margin: 3.125rem 0;
}

.project-overview h2,
.network-arch h2,
.key-features h2,
.detection-rules h2,
.documentation h2,
.repo-info h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5625rem;
    color: var(--text-primary);
    padding-left: 0.9375rem;
}

.detection-rules h3 {
    font-size: 1.7rem;
}

.project-overview p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-primary);
    padding-left: 1.5625rem;
}